.container{
    display: flex;
    align-items: center;
    max-width: 300px;
    padding-block: 1.6rem ;
    padding-left: 1.6rem;
    padding-right: 3.2rem;
    border-radius: 11.154rem;
    box-shadow: 0 1.6rem 3.6rem rgba(0, 0, 0, 0.09);
    background-color: #fff;
    gap: 1.2rem;
    position: absolute;
    top: 407px;
    left: -52px;
    z-index: 100;
}


.container h5{
    font-weight: 900;
    font-size: 2.4rem;
    color: #1c1c1c;

}

.container p{
    color: #828282;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 130%;
}

