nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid #EAEAEA;
    border-radius: 6.528rem;
    padding: 1.8rem 3rem;
}

nav button:first-child{
    margin-right: 1.567rem;
}