.carousel_container{

}

.carousel_container h2{
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 5.5rem;
    margin-top: 2rem;
    color: #1c1c1c;
    max-width: 380px;
    transition: transform ease-in-out 300ms;
    transition: opacity 300ms ease-in-out;
}

.carousel_container ul{
    list-style: none;
    display: flex;
    gap: 12px;
}


ul li{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #e4e3e3;
    cursor: pointer;
    transition: background-color 300ms ease-in-out;
}

ul li:hover{
    background-color: #cad0cb;
}





