.container{
    background-color: #002e18;
    padding: 3.4rem 3.4rem 4.0rem 3.6rem;
    color: #fff;
    border-radius: 2.9rem;
    min-width: 400px;
    position: absolute;
    top: 450px;
    left: 350px;
    z-index: 100;
}

.title{
    color: #fff;
    font-size: 6.3rem;
    margin-bottom: 2rem;
}

.title span{
    color: #a6a3a0;
    font-size: 2.3rem;
}

.description{
    font-size: 1.8rem;
    color: #ccc;
    line-height: 130%;

}

